## IGNORE BUILD FILES ##
Code/client/main
Code/*.o
Code/system/*.pb.*
Code/*/*.o
Code/nng-1.5.2/*
Code/protobuf-*
Code/scrooge
Code/check
Docs/*.pdf
Docs/*.aux
Docs/*.log
Docs/*.out

## IGNORE VSCODE ##
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
