## IGNORE BUILD FILES ##
Code/client/main
Code/client/scrooge
Code/*.o
Code/system/*.pb.*
Code/*/*.o
Code/nng-1.5.2/*
Code/protobuf-*
Code/scrooge
Code/check
Code/*.perf
Code/perf/
Code/node*
Code/Equal Stake Confirmation Throughput.png
Code/cur_results.csv
Code/perf.data
Docs/*.pdf
Docs/*.aux
Docs/*.log
Docs/*.out
Code/experiments/experiment_scripts/cur_results.csv
Code/go1.20.1.linux-386.tar.gz*
Code/experiments/experiment_scripts/Equal Stake Confirmation Latency.png
Code/experiments/experiment_scripts/Equal Stake Confirmation Throughput.png
## IGNORE VSCODE ##
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# IGNORE EXPERIMENT PYTHON ##
Code/experiments/experiment_scripts/__pycache__/*
Code/experiments/experiment_scripts/util/__pycache__/*
Code/experiments/experiment_scripts/.nfs*
Code/experiments/results/*

# Configuration file
Code/configuration/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
